.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  padding: 3rem;
  text-align: center;
  color: white;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.message {
  margin-bottom: 2rem;
}