.container {
  width: 80%;
  display: flex;
  align-items: center;
  transition: margin-top 0.3s ease;
  margin-top: 90px;

  height: 50px;
}

.headerLeft {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.headerCenter {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.tabs {
  width: 60%;
}

.tabList {
  width: 100%;
  background-color: rgba(53, 131, 200, 0.1);
}

.cursor {
  background-color: rgba(0, 255, 255, 0.15);
}

.tab {
  svg {
    color: white;
    transition: color 0.2s ease;
  }

  &[data-selected="true"] svg {
    color: rgba(0, 255, 255, 1) !important;
  }
}

.tabContent {
  svg {
      color: white;
      transition: color 0.2s ease;
  }

  &[data-selected="true"] svg {
    color: rgba(0, 255, 255, 1) !important;
  }
}

.headerRight {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.5rem;
}

// Autocomplete関連のスタイルはStyledAutocompleteコンポーネントに移動しました

.tooltip {
  background-color: rgba(53, 131, 200, 0.5);
  border-radius: 10px;
  padding: 4px 8px;
  color: white;
  font-size: 0.7rem;
}
